<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/updateteacher/{{view.id}}" method="POST">
            {%csrf_token  %}
            <label for="" class="form-label">FIRSTNANME</label>
            <input type="text" name="fname" value="{{data.first_name}}"class="form-control"><br><br>
            <label for="" class="form-label">LASTNAME</label>
            <input type="text" name="lname" value="{{data.last_name}}" class="form-control"><br><br>
            <label for="" class="form-label">EMAIL</label>
            <input type="text" name="email" value="{{data.email}}" class="form-control"><br><br>
            <label for="" class="form-label">USERNAME</label>
            <input type="text" name="username" value="{{data.username}}" class="form-control"><br><br>
            <label for="" class="form-label">PASSWORD</label>
            <input type="text" name="password"value="{{data.password}}" class="form-control"><br><br>
            <label for="" class="form-label">AGE</label>
            <input type="text" name="age" value="{{data.age}}" class="form-control"><br><br>
            <label for="" class="form-label">ADDRESS</label>
            <input type="text" name="address" value="{{data.adddress}}" class="form-control"><br><br>
            <label for="" class="form-label">QUALIFICATION</label>
            <input type="text" name="address" value="{{data.Qualification}}" class="form-control"><br><br>
            <input type="submit" value="UPDATE" class="btn btn-success">
        </form>
    </div>
</body>
</html>